@{ ViewBag.Title = "Stock List"; }

<h2>Stock List</h2>


@*
    <p>Date1: <input type="text" id="datepicker1"></p>

    <p>Date2: <input type="text" id="datepicker2"></p>*@

<input type="text" name="daterange" /> @* Normal and ThemeRoller*@

<br>
<br>
<br>


<table id="employeeTable" class="display">
    @*Semantic UI*@ @*
        <table id="employeeTable" class="ui celled table">*@ @*Bootstrap*@ @*
            <table id="employeeTable" class="table table-striped table-bordered">*@

        <thead>
            <tr>
                <th>company_name</th>
                <th>stock_date</th>
                <th>stock_open</th>
                <th>stock_high</th>
                <th>stock_low</th>
                <th>stock_close</th>
                <th>stock_adj_close</th>
                <th>stock_volume</th>
                <th>stock_net</th>
            </tr>
        </thead>
        @*
            <tfoot>
                <tr>
                    <th>company_name</th>
                    <th>stock_date</th>
                    <th>stock_open</th>
                    <th>stock_high</th>
                    <th>stock_low</th>
                    <th>stock_close</th>
                    <th>stock_adj_close</th>
                    <th>stock_volume</th>
                    <th>stock_net</th>
                </tr>
            </tfoot>*@
    </table>

    <!-- Normal -->
    <link href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />



    <!-- jQuery ThemeRoller -->
    @*
        <link href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" />
        <link href="https://cdn.datatables.net/1.10.15/css/dataTables.jqueryui.min.css" rel="stylesheet" />*@

    <!-- Semantic UI -->
    @*
        <link href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css" rel="stylesheet" />
        <link href="https://cdn.datatables.net/1.10.15/css/dataTables.semanticui.min.css" rel="stylesheet" />*@

    <!-- Bootstrap 4 -->
    @*
        <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap4.min.css" rel="stylesheet" />*@ @section scripts{ @* Normal *@
        <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>


        @* jQuery ThemeRoller*@ @*
            <script src="https://cdn.datatables.net/1.10.15/js/dataTables.jqueryui.min.js"></script>*@ @* Semantic UI*@ @*
                <script src="https://cdn.datatables.net/1.10.15/js/dataTables.semanticui.min.js"></script>
                <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.js"></script>*@ @* Bootstrap 4*@ @*
                    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.css" rel="stylesheet" />
                    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js"></script>*@



                <script>


                    $(document).ready(function () {

                        if ($.fn.DataTable.isDataTable("#employeeTable")) {
                            $('#employeeTable').DataTable().clear().destroy();
                        }



                        $("#employeeTable").DataTable({
                            "ajax": {
                                "url": "/Employee/GetDateRanges",
                                "type": "GET",
                                "datatype": "json"
                            },
                            "columns": [{
                                "data": "company_name"
                            }, {
                                "data": "stock_date"
                            }, {
                                "data": "stock_open"
                            }, {
                                "data": "stock_high"
                            }, {
                                "data": "stock_low"
                            }, {
                                "data": "stock_close"
                            }, {
                                "data": "stock_adj_close"
                            }, {
                                "data": "stock_volume"
                            }, {
                                "data": "stock_net"
                            }]

                        });


                        $(function () {
                            $('input[name="daterange"]').daterangepicker({
                                opens: 'left'
                            }, function (start, end, label) {

                                $.ajax({
                                    url: '/Employee/GetDateRanges',
                                    type: 'GET',
                                    async: false,
                                    dataType: 'text',
                                    processData: false,
                                    data: "stardate=" + start.format('DD/MM/YYYY') + "&enddate=" + end.format('DD/MM/YYYY'),
                                    success: function (data) {


                                    }
                                })


                            });
                        });




                    });
                </script>



                <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
                <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>



        }