<br>



<div class="container">

    <div class="row">
        <div class="col-2">
            <label>StartDate</label>
            <input id="txtDOB" name="DOB" class="form-control" type="text" bsDatepicker />
        </div>

        <div class="col-2">
            <label>EndDate</label>
            <input id="txtDOB" name="DOB" class="form-control" type="text" bsDatepicker />
        </div>

        <div class="col-2" style="width: fit-content;margin-top: 30px;">
            <button #template type="button" class="btn btn-primary" (click)="topGainers(template)">Top Gainers</button>
        </div>


    </div>

    <br>

    <ng2-smart-table #grid [settings]="settings" [source]="data">
    </ng2-smart-table>
</div>

<!-- 
<ng2-smart-table [settings]="settings" [source]="data" (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onSaveConfirm($event)"
 (createConfirm)="onCreateConfirm($event)"></ng2-smart-table> -->


<!-- <div class="row">
    <div>
      <input #search class="search" type="text" placeholder="Search..." (keydown.enter)="onSearch(search.value)">
      <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDelete($event)"
              (editConfirm)="onSave($event)"
              (createConfirm)="onCreate($event)" ></ng2-smart-table>
  </div>         -->